openpyxl==2.6.1
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==9.2.0
pip==19.0.3
pkginfo==1.5.0.1
plotly==5.10.0
plotly-express==0.4.1
